<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="vtigerSuite" thread-count="2" parallel="tests">
  <test name="ChromeTest">
    <classes>
      <class name="com.autodiskcrm.orgtest.CreateOrganizationTest"/>
      <class name="com.autodiskcrm.contacttest.CreateContactwithOrgtest"/>
      <class name="com.autodiskcrm.campaintest.CampainTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="FirefoxTest">
    <classes>
      <class name="com.autodiskcrm.orgtest.CreateOrganizationTest"/>
      <class name="com.autodiskcrm.contacttest.CreateContactwithOrgtest"/>
      <class name="com.autodiskcrm.campaintest.CampainTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
